* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 160px 1fr 40px;
  grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "footer footer";
    padding-bottom: 90px;
}

.sidebar {
  background-color: rgb(129, 163, 255);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  color: white;
  border-bottom: 3px dotted silver;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

li:hover {
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

.header {
  background-color: white;
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.header > .upper {
  background-color: rgb(245, 245, 245);
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .upper > .search {
  display: flex;
  gap: 20px;
  padding-left: 34px;
  flex:1;
  align-items: center;
}

.search > .bar {
  height: 18px;
  width: clamp(260px, 60%, 600px);
  color: grey;
  border: 1px solid black;
  border-radius: 10px;
  text-indent: 8px;
  font-size: 13px;
}

.header > .upper > .menu {
  display: flex;
  gap: 24px;
  padding-right: 40px;
  align-items: center;
}

.header > .lower {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 2px grey;
  z-index: 1;
}

.header > .lower > .user {
  display: flex;
  gap: 24px;
  padding-left: 48px;
  align-items: center;
}

.user > .message {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#avatar-large {
  height:64px;
  width: 64px;
}

.header > .lower > .util {
  display: flex;
  padding-left: 20px;
  padding-right: 34px;
  gap: 40px;
}

.util > * {
  height: 36px;
  width: 98px;
  background-color: rgb(166, 197, 255);
  border-radius: 6px;
  font-weight: 700;
}

.main {
  background-color: rgb(245, 245, 245);
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 320px 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trendings";
  gap: 36px;
  padding: 20px;
}

.projects, .announcements, .trendings {
  gap: 6px;
}

.project, .announcements-bar, .trending-bar {
  box-shadow: 2px 2px 2px grey;

}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 28px;
}

.project {
  background-color: white;
  width: 100%;
  height: 220px;
  border-radius: 12px;
  border-left: 14px solid rgba(233, 190, 70, 0.74);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project > .description {
  padding-left: 14px;
  padding-right: 20px;
  padding-top: 34px;
}

.description > p {
  font-size: 13px;
  color: rgb(95, 95, 95);
  padding-top: 6px;
}

.project > .actions {
  display: flex;
  justify-content: end;
  padding-right: 30px;
  padding-bottom: 24px;
  gap: 26px;
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
}

.announcements-bar {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 12px;
}

.line {
  height: 1px;
  border : 1px dotted grey;
}

.announcement > p {
  font-size: 11px;
  color: rgb(95, 95, 95);
}

.trendings {
  grid-area: trendings;
  display: flex;
  flex-direction: column;
}

.trending-bar {
  background-color: white;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 12px;
}

.trending {
  display: flex;
  gap: 20px;
}

.text > p {
  color: grey;
  padding-top: 4px;
  font-size: 14px;
}

.footer {
  background-color: rgb(173, 173, 173);
  grid-area: footer;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

